<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6I8NoZ-QsaFtNeT5RNTsW2kZaTTKRkx8</string>
	<key>GCM_SENDER_ID</key>
	<string>454999399231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.centuryAi</string>
	<key>PROJECT_ID</key>
	<string>aeka-ustaad</string>
	<key>STORAGE_BUCKET</key>
	<string>aeka-ustaad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454999399231:ios:d571c5f7339e052565918a</string>
</dict>
</plist>